services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: development
    command: bun --watch run packages/server/src/index.ts
    volumes:
      - ./packages/server/src:/app/packages/server/src
      - ./tsconfig.json:/app/tsconfig.json
